html {
  font-family: -apple-system, BlinkMacSystemFont, SF Pro Display, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  scroll-behavior: smooth;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f5f5f7;
  color: #111;
  margin: 0;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: rgba(#111, 0.5);
    color: #fff;
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    .logo {
        display: flex;
        justify-content: flex-start;
        img{
            height: 30px;
        }
    }
    .title{
        font-weight: bold;
    }
    .version {
        font-weight: 500;
        opacity: .75;
    }
}

.hero {
    position: relative;
    height: 300px;
    z-index: 5;
    overflow: hidden;
    video {
        min-width: 100vw;
        min-height: 100%;
        object-fit: cover;
        z-index: 6;
    }
    .title {
        z-index: 7;
        position: absolute;
        top: calc(50% + 25px);
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: bold;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.select-image {
    label {
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 7.5px;
        background-color: #08f;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
    input {
        width: 0;
        overflow: hidden;
        height: 0;
        transform: scale(0);
    }
}

.content {
    padding: 5vw;
}

.analyzer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    .preview {
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .running {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .result {
        content: "";
    }
}


.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #111;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  background: #08f;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
  background: #08f;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
  background: #08f;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
  background: #08f;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

$clouds: #ecf0f1;
$midnight: #2c3e50;
$wisteria: #8e44ad;
.group {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    &:before {
      box-sizing: border-box;
      content: " ";
      position: absolute;
      top: 0.3em;
      left: 0;
      display: block;
      width: 1.4em;
      height: 1.4em;
      border: 2px solid white;
      border-radius: .25em;
      z-index: -1;
    }
  }
  input[type="radio"] + label::before {
    border-radius: 1em;
  }
  /* Checked */
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    padding-left: 1em;
    color: $wisteria;
    &:before {
      top: 0;
      width: 100%;
      height: 2em;
      background: white;
    }
  }

  /* Transition */
  label,
  label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
}
